[submodule "hashredirect"]
	path = hashredirect
	url = git@bitbucket.org:umichdig/hashredirect.git
[submodule "umichuser"]
	path = umichuser
	url = git@bitbucket.org:umichdig/umichuser.git
[submodule "statuscheck"]
	path = statuscheck
	url = git@bitbucket.org:umichdig/statuscheck.git
[submodule "student_explorer/extras"]
	path = student_explorer/extras
	url = git@bitbucket.org:umichdig/student_explorer_extras.git
